p# Ignore python bytecode files
*.pyc
*.*.pyc

# Ignore virtual environment
venv/
__pycache__/


# Environment Variables
.env
.flaskenv
config.py
*.env
*.flaskenv

# Other files to ignore
__pycache__/
*.py[cod]
*$py.class
migrations/
venv/
ENV/
env/
logs/
.venv/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.log
*.log.*
*.sqlite
*.sqlite3
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info
