<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Welcome to {{ school_name }}. Transformative education with practical learning, knowledge, and confidence.">
  <meta name="keywords" content="Aunty Anne's International School, Aunty Anne's Int'l School, Aunty Anne's School,  Education in Aba, Best Schools in Aba, Best Schools in Abia, Knowledge and Confidence">
  <meta name="author" content="Aunty Anne's Int'l School">
  <meta property="og:title" content="{{ title }} | Aunty Anne's Int'l School">
  <meta property="og:description" content="In Aunty Anne's Int'l School, we provide education focused on practical learning and confidence-building.">
  <meta property="og:image" content="{{url_for('static', filename='images/school_logo.png') }}">
  <meta property="og:url" content="{{ request.url }}">
  <meta name="twitter:card" content="{{ url_for('static', filename='images/school_logo.png') }}">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" as="style" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />
  <title>{{ title }} | Aunty Anne's International School</title>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "School",
    "name": "Aunty Anne's International School",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "No 6 Oomnne Drive by winner's bus-stop opposite Ngwa high school",
      "addressLocality": "Abayi, Aba",
      "addressRegion": "Abia",
      "addressCountry": "NG"
    },
    "telephone": "+234-806-967-8968",
    "email": "auntyannesschools@gmail.com",
    "url": "https://auntyannesschools.com.ng"
  }
  </script>
</head>

<body>
  <div class="d-flex flex-column min-vh-100">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
          <a class="school-name navbar-brand d-flex align-items-center" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='images/school_logo.png') }}" alt="School Logo" loading="lazy" class="d-inline-block align-top" style="height: 50px; margin-right: 10px;">
            {{ school_name }}
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('main.about_us') }}">About Us</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">School Portal</a></li>
              {# <li class="nav-item"><a class="nav-link" href="{{ url_for('main.student_registration') }}">Registration</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('students.student_portal') }}">Student Portal</a></li> #}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-fill">
      {% block content %}{% endblock content %}
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center text-md-start">
            <h5>Contact Us</h5>
            <p>No 6 Oomnne Drive, Abayi, Aba</p>
            <p><i class="fas fa-phone-alt"></i> +234-806-967-8968</p>
            <p><i class="fas fa-envelope"></i> <a href="mailto:auntyannesschools@gmail.com" class="text-white">auntyannesschools@gmail.com</a></p>
          </div>
          <div class="col-md-4">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="{{ url_for('main.index') }}" class="text-white">Home</a></li>
              <li><a href="{{ url_for('main.about_us') }}" class="text-white">About Us</a></li>
              <li><a href="{{ url_for('main.student_registration') }}" class="text-white">Registration</a></li>
              <li><a href="#" class="text-white">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Newsletter</h5>
            <form>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Your Email" required>
                <button class="btn btn-primary" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
        <div class="text-center mt-3">
          <p>&copy; 2024 {{ school_name }}. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </div>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init({
        duration: 1200,
        once: true,
    });
    </script>
</body>
</html>
