{% extends 'admin/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Admin Dashboard</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning mt-3">{{ message }}</div>
            {% endfor %}
            <div class="card border-0 shadow-lg animate__animated animate__fadeInUp">
                <img src="{{ url_for('static', filename='images/add-student.png') }}" class="card-img-top" alt="Add New Student Image">
                <div class="card-body">
                    <h5 class="card-title text-center">Add New Student</h5>
                    <p class="card-text text-center">Click below to add a new student.</p>
                    <a href="{{ url_for('add_students') }}" class="btn btn-primary btn-block">Add Student</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card border-0 shadow-lg animate__animated animate__fadeInUp animate__delay-1s">
                <img src="{{ url_for('static', filename='images/add-class.jpg') }}" class="card-img-top" alt="Manage Classes Image">
                <div class="card-body">
                    <h5 class="card-title text-center">Manage Classes</h5>
                    <p class="card-text text-center">Click below to manage students in different classes.</p>
                    <a href="{{ url_for('manage_classes') }}" class="btn btn-primary btn-block">Classes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card border-0 shadow-lg animate__animated animate__fadeInUp animate__delay-2s">
                <img src="{{ url_for('static', filename='images/add-class.jpg') }}" class="card-img-top" alt="Manage Subjects Image">
                <div class="card-body">
                    <h5 class="card-title text-center">Manage Subjects</h5>
                    <p class="card-text text-center">Click below to manage subjects.</p>
                    <a href="{{ url_for('manage_subjects') }}" class="btn btn-primary btn-block">Subjects</a>
                </div>
            </div>
        </div>
        {#
        <div class="col-md-6 mb-4">
            <div class="card border-0 shadow-lg animate__animated animate__fadeInUp animate__delay-3s">
                <img src="{{ url_for('static', filename='images/view-results.jpg') }}" class="card-img-top" alt="View Results Image">
                <div class="card-body">
                    <h5 class="card-title text-center">View Results</h5>
                    <p class="card-text text-center">Click below to view student results.</p>
                    <a href="{{ url_for('manage_results', student_id=student.id)}}" class="btn btn-primary btn-block">Results</a>
                </div>
            </div>
        </div>
        #}
    </div>
</div>
{% endblock %}
