{% extends 'admin/base.html' %}

{% block title %}
Manage Classes
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning mt-3">{{ message }}</div>
    {% endfor %}

    <div class="row mb-4">
        <div class="col-md-8">
            <h3>Class Management</h3>
        </div>
        <div class="col-md-4 text-right">
            <a href="#" class="btn btn-success">Add New Class</a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <input type="text" id="classSearch" class="form-control" placeholder="Search for a class...">
        </div>
    </div>

    <div class="row justify-content-center">
        {% for entry_class in ['Creche', 'Pre-Nursery', 'Nursery 1', 'Nursery 2', 'Nursery 3', 'Basic 1', 'Basic 2', 'Basic 3', 'Basic 4', 'Basic 5', 'Basic 6', 'JSS 1', 'JSS 2', 'JSS 3'] %}
        <div class="col-md-4 mb-4 class-card">
            <div class="card h-100 border-0 shadow-lg">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Manage {{ entry_class }} Class</h5>
                    <p class="card-text text-center">Total Students: 50</p>
                    <p class="card-text text-center">Average Grade: 84.5</p>
                    <div class="mt-auto">
                        <a href="{{ url_for('admins.students_by_class', entry_class=entry_class) }}" class="btn btn-primary btn-block mb-2">
                            {% if "Nursery" in entry_class or "Basic" in entry_class or "Creche" in entry_class %}
                                Pupils Management
                            {% else %}
                                Students Management
                            {% endif %}
                        </a>
                        <a href="#" class="btn btn-info btn-block mb-2">Edit Class</a>
                        <form action="#" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-block">Delete Class</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById('classSearch').addEventListener('input', function() {
        var searchValue = this.value.toLowerCase();
        var classCards = document.querySelectorAll('.class-card');

        classCards.forEach(function(card) {
            var className = card.querySelector('.card-title').textContent.toLowerCase();
            if (className.includes(searchValue)) {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
