{% extends 'admin/base.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Manage Classes</h2>
    
    <!-- Form for Creating/Editing Classes -->
    <div class="card my-4">
        <div class="card-header">Add/Edit Class</div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('admins.manage_classes') }}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <label for="name" class="form-label">Class Name</label>
                    {{ form.name(class_="form-control", id="name") }}
                </div>
                <div class="mb-3">
                    <label for="section" class="form-label">Section</label>
                    {{ form.section(class_="form-control", id="section") }}
                </div>
                
                <div class="mb-3">
                    {{ form.hierarchy.label(class="form-label") }}
                    {{ form.hierarchy(class="form-control") }}
                </div>
                {{ form.submit_create(class_="btn btn-primary") }}
            </form>
        </div>
    </div>

    <!-- List of Classes -->
    <div class="card">
        <div class="card-header">Existing Classes</div>
        <div class="card-body">
            {% if classes %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Hierarchy</th>
                        <th>Class Name</th>
                        <th>Section</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cls in classes %}
                    <tr>
                        <td>{{ cls.hierarchy }}</td>
                        <td>{{ cls.name }}</td>
                        <td>{{ cls.section }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('admins.manage_classes', class_id=cls.id) }}" class="d-inline">
                                {{ form.hidden_tag() }}
                                {{ form.class_id(class="form-control") }}
                                {{ form.submit_edit(class_="btn btn-secondary") }}
                            </form>
                            <form method="POST" action="{{ url_for('admins.delete_class', class_id=cls.id) }}" class="d-inline">
                                {{ form.hidden_tag() }}
                                {{ form.submit_delete(class_="btn btn-danger") }}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-center">No classes found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
