{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<script>
    AOS.init({
        duration: 1200,
        once: true,
    });
</script>

<div class="jumbotron text-white text-center py-5">
    <div class="overlay"></div>
    <div class="container content">
        <h1 class="display-4 animated fadeInDown" data-aos="zoom-out">
            Welcome to {{ school_name }}
        </h1>
        <h2 class="lead my-4 animated fadeIn" data-aos="fade-up">
            Where Practical Knowledge Enhances Learning and Confidence
        </h2>
        <p class="lead animated fadeInUp" data-aos="fade-right">
            We are committed to providing transformative educational experiences
            that equip students with practical skills, empower them with
            knowledge, and instill the confidence to excel in a rapidly
            changing world.
        </p>
    </div>
</div>

<section id="about-us" class="py-5 bg-light">
  <div class="container animate text-center">
    <h2 class="section-heading mb-4" data-aos="fade-up">About Us</h2>
    <p class="lead">
        At Aunty Anne's International School, we are committed to nurturing young minds and offering a well-rounded education. With a strong emphasis on practical learning, knowledge, and building confidence, this sets us apart as a leading institution for excellence in education.
    </p>
    <a href="{{ url_for('main.about_us') }}" class="btn btn-primary">Learn More</a>
  </div>
</section>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4" data-aos="fade-right" data-aos-duration="3000">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="my-0 font-weight-normal">Practical Learning</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        Our <small class="text-muted">Motto</small>
                    </h1>
                    <p class="lead animated fadeInUp">
                        We believe in hands-on, experiential learning that
                        prepares students for real-world challenges.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="6000">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-info text-white">
                    <h4 class="my-0 font-weight-normal">
                        Knowledge Empowerment
                    </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        Our <small class="text-muted">Values</small>
                    </h1>
                    <p class="lead animated fadeInUp">
                        We strive to empower our students with a deep
                        understanding of diverse subjects, fostering
                        intellectual curiosity and a love for learning.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-aos="fade-left" data-aos-duration="9000">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-success text-white">
                    <h4 class="my-0 font-weight-normal">Confidence Building</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        Our <small class="text-muted">Vision</small>
                    </h1>
                    <p class="lead animated fadeInUp">
                        We focus on building confidence and resilience in our
                        students, ensuring they have the self-assurance to
                        pursue their dreams.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h2 class="section-heading text-center">What People Say About Us</h2>
    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <blockquote class="testimonial">
                    <p>
                        "{{ school_name }} has provided me with a nurturing
                        environment to grow both academically and personally.
                        The school's dedication and innovative
                        approach to education have truly set me on a path to
                        success."
                    </p>
                    <footer>- Mrs. Anyanwu, Alumni</footer>
                </blockquote>
            </div>
            <div class="carousel-item">
                <blockquote class="testimonial">
                     <p>
                        "As a parent, I am extremely pleased with the holistic
                        education my child is receiving at {{ school_name }}.
                        The emphasis on both academics and character development
                        is remarkable, and I have seen tremendous growth in my
                        child's confidence and abilities."
                    </p>
                    <footer>- Mr. Ezechukwu Chukwudi, Parent</footer>
                </blockquote>
            </div>
            <div class="carousel-item">
                <blockquote class="testimonial">
                   <p>
                        "The teachers at {{ school_name }} are incredibly
                        supportive and dedicated. They go above and beyond to
                        ensure each student understands the material and feels
                        confident in their abilities."
                    </p>
                    <footer>- Victoria Uwadiegwu, Current Student</footer>
                </blockquote>
            </div>
            <div class="carousel-item">
                <blockquote class="testimonial">
                   <p>
                        "I have seen my child's academic performance and social
                        skills improve significantly since joining {{
                        school_name }}. The school's focus on a well-rounded
                        education is truly commendable."
                    </p>
                    <footer>- Beckley Gideon, Parent</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>


<section id="contact-us" class="py-5">
  <div class="container text-center">
    <h2 class="section-heading mb-4">Get in Touch</h2>
    <p>We'd love to hear from you! Contact us for any inquiries or support.</p>
    <a href="#" class="btn btn-primary">Contact Us</a>
  </div>
</section>
{% endblock %}
